<div id="btn" style="text-align: center ">

  <button
    onclick="location.href='/quiz';"
    class="button is-info is-outlined"
    style=""
  >start the quiz
  </button>

{{#each topics as |topic|}}
<div>
  {{!-- <h3><a href="/post/{{topic.id}}">{{topic.title}}</a></h3> --}}
  <h3><a href="/post/{{topic.id}}" data-replace="get a link">{{topic.title}}</a></h3>
  <p>By: {{user.username}}</p>
</div>

  {{/each}}

</div>
