<main>
    <div>

    <button
    onclick="location.href='/';"
    class="button is-info is-outlined"
    style="align-items: end;"
  >Home</button>
</div>

<div class="column">
    <section style="background-color:#394867 ;" class="card-tag">
        <p class="card-username">Created by: {{username}}</p>
        {{#each topics as |topic|}}
            <h3><a href="/post/{{topic.id}}">{{topic.title}}</a></h3>
            <button id="del-post" value="{{topic.id}}" class="button is-link is-outlined">delete</button>
        {{/each}}
        <p style="color: aliceblue;" class="card-notes">{{post.notes}}</p>
        {{!-- <p class="card-text">text{{comments.text}}</p> --}}
    </section>
</div>


 
 </main>


<script src="/js/profile.js"></script>
