<main>
    <div>

    <button
    onclick="location.href='/';"
    class="button is-info is-outlined"
    style="align-items: end;"
  >Home</button>
</div>

<div class="column">
    <section style="background-color:#394867 ;" class="card-tag">
        
        <p  class="card-username">Created by: {{username}}</p>
        {{#each topics as |topic|}}
            <h2 style="color: aliceblue;" class="card-title">{{title}}</h2>
            {{#with posts}}
            <p>{{notes}}</p>
            {{/with}}
            <button id="del-post" class="button is-link is-outlined" value={{post.id}}>delete</button>
        {{/each}}
        <p style="color: aliceblue;" class="card-notes">{{post.notes}}</p>
        {{!-- <p class="card-text">text{{comments.text}}</p> --}}
    </section>
</div>


 
 </main>


<script src="/js/profile.js"></script>
