<main>
    <div>

    <button
    onclick="location.href='/';"
    class="button is-info is-outlined"
    style="align-items: end;"
  >Home</button>
</div>

<div class="column">
    <section style="background-color:#394867 ;" class="card-tag">
        
        <p  class="card-username">Created by: {{user.username}}</p>
        {{#each topics as |topic|}}
            <h2 style="color: aliceblue;" class="card-title">{{topic.title}}1</h2>
            {{#each topic.posts as |post|}}
            <p>{{post.notes}}</p> <button id="del-post" class="button is-link is-outlined" value={{post.id}}>delete</button>
            {{/each}}
        {{/each}}
        <p style="color: aliceblue;" class="card-notes">notes{{post.notes}}</p>
        {{!-- <p class="card-text">text{{comments.text}}</p> --}}
    </section>
</div>


 
 </main>


<script src="/js/profile.js"></script>
