{{!-- <main>

<section class="card">
    <section class="card-tag">
        <header class="card-title">{{topic.title}}topic</header>
        {{!-- <p class="card-time">Created on: {{format_date post.time_created}}</p> --}}
        {{!-- <p class="card-username">Created by: {{User.username}}</p>
        <p class="card-notes">notes{{post.notes}}</p>
        <p class="card-text">text{{comments.text}}</p>
    </section>
</section>



{{!-- </main> --}} --}}


{{!-- <script src="/js/profile.js"></script> --}}
