{{!-- {{#if userId}} --}}
<div style="text-align: center;" id="">
  <button onclick="location.href='/login';" id="logout" class="button is-link is-outlined">logout</button>
  <button onclick="location.href='/';" class="button is-info is-outlined" style="">Home</button>
</div>



<div class="header">
  <h2 id="user">{{user.username}}'s Blog</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>{{title}}</h2>
      {{#each posts}}
      <h5>Posted by:{{this.username}}</h5>

      <p>{{this.notes}}</p>
      {{/each}}

    </div>
    <div class="card">
      <h3>Comments</h3>
      {{#each comments}}
      <h4>{{this.username}}</h4>
      <P>{{this.text}}</P>
      {{/each}}
      <h3>Add a comment</h3>
      <br>
      <br>
      <form id="comment-form">
        <textarea style="min-width: 0%;" type="text" class="textarea is-info" id="comment"
          placeholder="textarea"></textarea>


        <button class="button is-info is-outlined" style="">submit</button>
      </form>
    </div>
  </div>

</div>

<div class="footer">
  <h2></h2>

</div>
{{!-- {{else}} --}}
{{!--
<button onclick="location.href='/login';" class="button is-info is-outlined ok" style="text-align: center;">sign in/sign
  up</button> --}}


{{!-- {{/if}} --}}

{{#if userId}}
<script src="/js/logout.js"></script>
{{/if}}














</form>
</div>
</div>






<script src="/js/newComment.js"></script>
<script src="/js/logout.js"></script>