<div>
  <h3>{{title}}</h3>
  {{#each posts}}
    <h4>Posted By: {{this.username}}</h4>
    <p>{{this.notes}}</p>
  {{/each}}
</div>
    <h3>Comments</h3> 
  {{#each comments}}
  <h4>{{this.username}}</h4>
  <p>{{this.text}}</p>
  {{/each}}
<h3>Add a comment</h3>
<form id="comment-form">
    <textarea type="text" id="comment" placeholder="Text input"></textarea>
    <button>Submit</button>
</form>
<script src="/js/newComment.js"></script>